In [8]:
from bs4 import BeautifulSoup
import re
import pandas as pd
import os
import requests

documents = []
count = 0
count_not_found = 0

r = requests.get('https://mode.com/python-tutorial/pandas-dataframe/')

df_list = pd.read_html('file:///D:/Career/Python/Summer%20Research/Summer/2020/0000002098/10-K/0001564590-21-017128/filing-details.html')
print(len(df_list))
for i in range(len(df_list)):
    display(df_list[i])

97

     0                                                  1
0  NaN                                                NaN
1    ☒  ANNUAL REPORT PURSUANT TO SECTION 13 OR 15 (d)...
2  NaN       For the fiscal year ended: December 31, 2020
3  NaN                                                NaN
4  NaN                                                 or
5  NaN                                                NaN
6    ☐  TRANSITION REPORT PURSUANT TO SECTION 13 OR 15...
7  NaN  For the transition period from: ___________ to...
8  NaN                                                NaN
9  NaN                   Commission file number: 01-07698

,0,1,2
0,Connecticut,NaN,06-0236700
1,State or Other Jurisdiction of,NaN,I.R.S. Employer Identification No.
2,Incorporation or Organization,NaN,NaN
3,NaN,NaN,NaN
4,"55 Walls Drive, Fairfield, Connecticut",NaN,06824
5,Address of Principal Executive Offices,NaN,Zip Code

,0,1,2
0,Title of each class,Trading Symbol,Name of each exchange on which registered
1,$2.50 par value Common Stock,ACU,NYSE American

                           0   1                            2
0  Large accelerated filer ☐ NaN          Accelerated filer ☒
1                        NaN NaN                          NaN
2    Non-accelerated filer ☐ NaN  Smaller Reporting Company ☒
3                        NaN NaN                          NaN
4  Emerging growth company ☐ NaN                          NaN

                                                    0     1
0                                                 NaN  Page
1                                              Part I   NaN
2                                                 NaN   NaN
3                                    Item 1. Business     3
4                                                 NaN   NaN
5                               Item 1A. Risk Factors     6
6                                                 NaN   NaN
7                  Item 1B. Unresolved Staff Comments    13
8                                                 NaN   NaN
9                                  Item 2. Properties    13
10                                                NaN   NaN
11                          Item 3. Legal Proceedings    13
12                                                NaN   NaN
13                    Item 4. Mine Safety Disclosures    13
14                                                NaN   NaN
15                                            Part II   NaN
16                                                NaN   NaN
17  Item 5. Market for Registrant’s Common Equity,...    14
18                                                NaN   NaN
19                    Item 6. Selected Financial Data    14
20                                                NaN   NaN
21  Item 7. Management’s Discussion and Analysis o...    15
22                                                NaN   NaN
23  Item 7A. Quantitative and Qualitative Disclosu...    19
24                                                NaN   NaN
25  Item 8. Financial Statements and Supplementary...    19
26                                                NaN   NaN
27  Item 9. Changes In and Disagreements with Acco...    41
28                                                NaN   NaN
29                   Item 9A. Controls and Procedures    41
30                                                NaN   NaN
31                         Item 9B. Other Information    41
32                                                NaN   NaN
33                                           Part III    42
34                                                NaN   NaN
35  Item 10. Directors, Executive Officers and Cor...    42
36                                                NaN   NaN
37                    Item 11. Executive Compensation    43
38                                                NaN   NaN
39  Item 12. Security Ownership of Certain Benefic...    43
40                                                NaN   NaN
41  Item 13. Certain Relationships and Related Tra...    44
42                                                NaN   NaN
43    Item 14. Principal Accounting Fees and Services    44
44                                                NaN   NaN
45                                            Part IV   NaN
46                                                NaN   NaN
47  Item 15. Exhibits and Financial Statement Sche...    45
48                                                NaN   NaN
49                         Item 16. Form 10-K Summary    46
50                                                NaN   NaN
51                                         Signatures    47

    0  1                                                  2
0 NaN  •  Eleven years of consecutive sales growth avera...

    0  1                                                  2
0 NaN  •  Diversification of Product Lines – During the ...

    0  1                                                  2
0 NaN  •  Growth of eCommerce Sales – In 2020, sales in ...

    0  1                                                  2
0 NaN  •  Successful acquisition of two businesses in ou...

    0  1                                                  2
0 NaN  -  The acquisition and successful integration of ...

    0  1                                                  2
0 NaN  -  The acquisition of the business and assets of ...

    0  1                                                  2
0 NaN  •  Successful Response to Pandemic – Commencing i...

    0  1                                                  2
0 NaN  -  taking steps to protect our global workforce, ...

    0  1                                                  2
0 NaN  -  shifting its sales force to focus on eCommerce...

    0  1                                                  2
0 NaN  -  procuring large quantities of first aid produc...

    0  1                                                  2
0 NaN  -  adding additional inventory across its product...

    0  1                                                  2
0 NaN  -  managing through macroeconomic uncertainty cre...

    0  1                                                  2
0 NaN  •  Environmental Footprint - The Company continue...

    0  1                                                  2
0 NaN  •  achieving planned revenue and profit growth in...

    0  1                                                  2
0 NaN  •  changes in customer requirements and in the vo...

    0  1                                                  2
0 NaN  •  the ability of the Company to anticipate timin...

    0  1                                                  2
0 NaN  •  emergence of new competitors or consolidation ...

    0  1                              2
0 NaN  •  industry demand fluctuations.

    0  1                                                  2
0 NaN  •  Changes generally in political, regulatory or ...

    0  1                                                  2
0 NaN  •  Trade protection measures in favor of local pr...

    0  1                                                  2
0 NaN  •  Changes in foreign currency exchange rates whi...

    0  1                                                  2
0 NaN  •  The duration, severity, spread and recurrence ...

    0  1                                                  2
0 NaN  •  Significant weakness, reductions or volatility...

    0  1                                                  2
0 NaN  •  Inability to meet our customers’ needs and ach...

    0  1                                                  2
0 NaN  •  Failure of third parties on which we rely, inc...

    0  1                                                  2
0 NaN  •  Significant changes in the political and labor...

,0,1,2,3,4
0,Location,NaN,Square Footage,NaN,Purpose
1,Owned,NaN,NaN,NaN,NaN
2,"Rocky Mount, NC Vancouver, WA Brooksville, FL",NaN,"340,000 53,000 42,460",NaN,Warehousing and distribution Warehousing and d...
3,"Solingen, Germany",NaN,35000,NaN,"Warehousing, distribution and administrative"
4,NaN,NaN,470460,NaN,NaN
5,Leased,NaN,NaN,NaN,NaN
6,"Fairfield, CT",NaN,15400,NaN,Administrative
7,"Bentonville, AK",NaN,1500,NaN,Administrative
8,"Marlborough, MA",NaN,28000,NaN,"Manufacturing, warehousing and distribution"
9,"Santa Ana, CA",NaN,10000,NaN,"Manufacturing, warehousing, and distribution"
10,"La Vergne, TN",NaN,56000,NaN,"Manufacturing, warehousing and distribution"
11,"Mount Forest, Ontario, Canada",NaN,42500,NaN,Warehousing and distribution
12,"Orangeville, Ontario, Canada",NaN,2850,NaN,Administrative
13,"Laval, Quebec, Canada",NaN,14500,NaN,"Manufacturing, warehousing, distribution and a..."
14,"Hong Kong, China",NaN,2750,NaN,Administrative
15,"Guangzhou, China",NaN,3500,NaN,Administrative
16,"Ningbo, China",NaN,1800,NaN,Administrative
17,NaN,NaN,135800,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,Total:,NaN,606260,NaN,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,"For the years ended December 31,","For the years ended December 31,","For the years ended December 31,","For the years ended December 31,","For the years ended December 31,","For the years ended December 31,",NaN
1,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
2,Net sales,NaN,$,164003040,NaN,NaN,$,142457342,NaN
3,Cost of goods sold,NaN,NaN,104408326,NaN,NaN,NaN,90456484,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Gross profit,NaN,NaN,59594714,NaN,NaN,NaN,52000858,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Selling, general and administrative expenses",NaN,NaN,48182050,NaN,NaN,NaN,43571510,NaN
8,Operating income,NaN,NaN,11412664,NaN,NaN,NaN,8429348,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Non-operating items:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Interest:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Interest expense,NaN,NaN,"(944,363",),NaN,NaN,"(1,828,408",)
13,Interest income,NaN,NaN,24654,NaN,NaN,NaN,39896,NaN
14,"Interest expense, net",NaN,NaN,"(919,709",),NaN,NaN,"(1,788,512",)
15,Other expense,NaN,NaN,"(666,227",),NaN,NaN,"(97,672",)
16,"Total other expense, net",NaN,NaN,"(1,585,936",),NaN,NaN,"(1,886,184",)
17,Income before income tax expense,NaN,NaN,9826728,NaN,NaN,NaN,6543164,NaN
18,Income tax expense,NaN,NaN,1727962,NaN,NaN,NaN,1029556,NaN
19,Net income,NaN,$,8098766,NaN,NaN,$,5513608,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Earnings per share:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Basic,NaN,$,2.42,NaN,NaN,$,1.65,NaN
23,Diluted,NaN,$,2.31,NaN,NaN,$,1.60,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,For the Years Ended,For the Years Ended,For the Years Ended,For the Years Ended,For the Years Ended,For the Years Ended,NaN
1,NaN,NaN,"December 31,","December 31,","December 31,","December 31,","December 31,","December 31,",NaN
2,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
3,Net income,NaN,$,8098766,NaN,NaN,$,5513608,NaN
4,Other comprehensive gain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Foreign currency translation,NaN,NaN,647632,NaN,NaN,NaN,45223,NaN
6,Change in net prior service credit and actuari...,NaN,NaN,514271,NaN,NaN,NaN,143906,NaN
7,Total other comprehensive income (loss),NaN,NaN,1161903,NaN,NaN,NaN,189129,NaN
8,Comprehensive income,NaN,$,9260669,NaN,NaN,$,5702737,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,"December 31,","December 31,",NaN,NaN,"December 31,","December 31,",NaN
1,NaN,NaN,2020,2020,NaN,NaN,NaN,2019,NaN
2,ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Current assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cash and cash equivalents,NaN,$,4167376,NaN,NaN,$,6821883,NaN
5,"Accounts receivable, less allowance",NaN,NaN,27173431,NaN,NaN,NaN,25484865,NaN
6,Inventories,NaN,NaN,50704197,NaN,NaN,NaN,39261105,NaN
7,Prepaid expenses and other current assets,NaN,NaN,1640904,NaN,NaN,NaN,1578248,NaN
8,Total current assets,NaN,NaN,83685908,NaN,NaN,NaN,73146101,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Property, plant and equipment:",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Land,NaN,NaN,1770453,NaN,NaN,NaN,1420104,NaN
12,Buildings,NaN,NaN,12898761,NaN,NaN,NaN,10095529,NaN
13,Machinery and equipment,NaN,NaN,24524045,NaN,NaN,NaN,19111801,NaN
14,"Total property, plant and equipment",NaN,NaN,39193259,NaN,NaN,NaN,30627434,NaN
15,Less: accumulated depreciation,NaN,NaN,18954352,NaN,NaN,NaN,16591890,NaN
16,"Net property, plant and equipment",NaN,NaN,20238907,NaN,NaN,NaN,14035544,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Intangible assets, less accumulated amortization",NaN,NaN,18721423,NaN,NaN,NaN,15792738,NaN
19,Goodwill,NaN,NaN,4799829,NaN,NaN,NaN,4696370,NaN
20,"Operating lease right-of-use asset, net",NaN,NaN,2421669,NaN,NaN,NaN,2989272,NaN
21,Other assets,NaN,NaN,-,NaN,NaN,NaN,88828,NaN
22,Total assets,NaN,$,129867736,NaN,NaN,$,110748853,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Current liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Accounts payable,NaN,$,7601123,NaN,NaN,$,6692692,NaN
27,Operating lease liability - current portion,NaN,NaN,872908,NaN,NaN,NaN,1047498,NaN
28,Current portion of mortgage payable,NaN,NaN,266667,NaN,NaN,NaN,266667,NaN
29,Other accrued liabilities,NaN,NaN,11460024,NaN,NaN,NaN,8576248,NaN
30,Total current liabilities,NaN,NaN,20200722,NaN,NaN,NaN,16583105,NaN
31,Long-term debt,NaN,NaN,38767167,NaN,NaN,NaN,33240407,NaN
32,Long-term debt-PPP Loan,NaN,NaN,3508047,NaN,NaN,NaN,-,NaN
33,"Mortgage payable, net of current portion",NaN,NaN,2911111,NaN,NaN,NaN,3177778,NaN
34,Operating lease liability - non-current portion,NaN,NaN,1654025,NaN,NaN,NaN,1960996,NaN
35,Deferred income taxes,NaN,NaN,110221,NaN,NaN,NaN,49284,NaN
36,Other non-current liabilities,NaN,NaN,-,NaN,NaN,NaN,32302,NaN
37,Total liabilities,NaN,NaN,67151293,NaN,NaN,NaN,55043872,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,STOCKHOLDERS' EQUITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"Common stock, par value $2.50: authorized 8,00...",NaN,NaN,12100663,NaN,NaN,NaN,12094413,NaN
41,"Treasury stock, at cost, 1,501,658 in 2020 and...",NaN,NaN,"(14,522,178",),NaN,NaN,"(14,235,190",)
42,Additional paid-in capital,NaN,NaN,7930673,NaN,NaN,NaN,8262208,NaN
43,Accumulated other comprehensive loss,NaN,NaN,"(825,967",),NaN,NaN,"(1,987,870",)
44,Retained earnings,NaN,NaN,58033252,NaN,NaN,NaN,51571420,NaN
45,Total stockholders' equity,NaN,NaN,62716443,NaN,NaN,NaN,55704981,NaN
46,Total liabilities and stockholders' equity,NaN,$,129867736,NaN,NaN,$,110748853,NaN

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,NaN,NaN,Outstanding Shares of Common Stock,Outstanding Shares of Common Stock,NaN,NaN,Common Stock,Common Stock,NaN,NaN,...,Accumulated Other Comprehensive Loss,NaN,NaN,Retained Earnings,Retained Earnings,NaN,NaN,Total,Total,NaN
1,"Balances, December 31, 2018",NaN,NaN,3350833,NaN,NaN,$,12094413,NaN,NaN,...,"(2,057,985",),NaN,$,47549650,NaN,NaN,$,52332411,NaN
2,Net income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5513608,NaN,NaN,NaN,5513608,NaN
3,Other comprehensive Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,189129,NaN
4,Adoption of ASU 2018-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"(119,014",),NaN,NaN,119014,NaN,NaN,NaN,-,NaN
5,Stock compensation expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,968467,NaN
6,Distribution to shareholders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"(1,610,852",),NaN,NaN,"(1,610,852",)
7,Cash settlement of stock options,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1,687,782",)
8,"Balances, December 31, 2019",NaN,NaN,3350833,NaN,NaN,$,12094413,NaN,NaN,...,"(1,987,870",),NaN,$,51571420,NaN,NaN,$,55704981,NaN
9,Net income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8098766,NaN,NaN,NaN,8098766,NaN
10,Other comprehensive income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1161903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1161903,NaN
11,Stock compensation expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1259079,NaN
12,Distribution to shareholders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"(1,636,934",),NaN,NaN,"(1,636,934",)
13,Issuance of common stock,NaN,NaN,2500,NaN,NaN,NaN,6250,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59754,NaN
14,Cash settlement of stock options,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1,644,118",)
15,Purchase of treasury stock,NaN,NaN,"(14,420",),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(286,988",)
16,"Balances, December 31, 2020",NaN,NaN,3338913,NaN,NaN,$,12100663,NaN,NaN,...,"(825,967",),NaN,$,58033252,NaN,NaN,$,62716443,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,"For the years ended December 31,","For the years ended December 31,","For the years ended December 31,","For the years ended December 31,","For the years ended December 31,","For the years ended December 31,",NaN
1,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
2,Operating activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Net income,NaN,$,8098766,NaN,NaN,$,5513608,NaN
4,Adjustments to reconcile net income to net cas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Depreciation,NaN,NaN,2427557,NaN,NaN,NaN,2181060,NaN
6,Amortization,NaN,NaN,1324423,NaN,NaN,NaN,1251662,NaN
7,Stock compensation expense,NaN,NaN,1259079,NaN,NaN,NaN,968467,NaN
8,Deferred income taxes,NaN,NaN,60937,NaN,NaN,NaN,162637,NaN
9,Non-cash lease expense,NaN,NaN,86042,NaN,NaN,NaN,19222,NaN
10,Provision for doubtful accounts,NaN,NaN,778869,NaN,NaN,NaN,290128,NaN
11,Pension settlement,NaN,NaN,526857,NaN,NaN,NaN,—,NaN
12,Changes in operating assets and liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Accounts receivable,NaN,NaN,"(2,028,341",),NaN,NaN,"(784,562",)
14,Inventories,NaN,NaN,"(10,049,513",),NaN,NaN,2089861,NaN
15,Prepaid expenses and other current assets,NaN,NaN,159078,NaN,NaN,NaN,666070,NaN
16,Accounts payable,NaN,NaN,460179,NaN,NaN,NaN,"(1,525,060",)
17,Other accrued liabilities,NaN,NaN,2617103,NaN,NaN,NaN,3869138,NaN
18,Total adjustments,NaN,NaN,"(2,377,730",),NaN,NaN,9188623,NaN
19,Net cash provided by operating activities,NaN,NaN,5721036,NaN,NaN,NaN,14702231,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Investing activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Purchase of property, plant and equipment",NaN,NaN,"(2,569,174",),NaN,NaN,"(1,680,479",)
23,Acquisition of Med-Nap,NaN,NaN,"(9,307,518",),NaN,NaN,—,NaN
24,Acquisition of First Aid Central,NaN,NaN,"(2,075,210",),NaN,NaN,—,NaN
25,Net cash used by investing activities,NaN,NaN,"(13,951,902",),NaN,NaN,"(1,680,479",)
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Financing activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Net borrowings (repayments) of long-term debt,NaN,NaN,5526760,NaN,NaN,NaN,"(7,042,708",)
29,Proceeds from PPP Loan,NaN,NaN,3508047,NaN,NaN,NaN,—,NaN
30,Repayments on mortgage,NaN,NaN,"(266,667",),NaN,NaN,"(266,667",)
31,Distributions to stockholders,NaN,NaN,"(1,604,706",),NaN,NaN,"(1,608,956",)
32,Cash settlement of stock options,NaN,NaN,"(1,644,118",),NaN,NaN,"(1,687,782",)
33,Purchase of treasury stock,NaN,NaN,"(286,988",),NaN,NaN,—,NaN
34,Issuance of common stock,NaN,NaN,58754,NaN,NaN,NaN,—,NaN
35,Net cash provided by (used in) financing activ...,NaN,NaN,5291082,NaN,NaN,NaN,"(10,606,113",)
36,Effect of exchange rate changes,NaN,NaN,285277,NaN,NaN,NaN,"(2,799",)
37,Net (decrease) increase in cash and cash equiv...,NaN,NaN,"(2,654,507",),NaN,NaN,2412841,NaN
38,Cash and cash equivalents at beginning of year,NaN,NaN,6821883,NaN,NaN,NaN,4409042,NaN
39,Cash and cash equivalents at end of year,NaN,$,4167376,NaN,NaN,$,6821883,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Supplemental cash flow information:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Cash paid for income taxes,NaN,$,755337,NaN,NaN,$,422339,NaN
43,Cash paid for interest expense,NaN,$,930357,NaN,NaN,$,1863961,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,"December 31,","December 31,","December 31,","December 31,","December 31,","December 31,",NaN
1,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
2,Finished goods,NaN,$,40287710,NaN,NaN,$,32899114,NaN
3,Work in process,NaN,NaN,67208,NaN,NaN,NaN,274158,NaN
4,Materials and supplies,NaN,NaN,10349279,NaN,NaN,NaN,6087833,NaN
5,Inventories:,NaN,$,50704197,NaN,NaN,$,39261105,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,"December 31,","December 31,","December 31,","December 31,","December 31,","December 31,",NaN
1,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
2,First Aid Only Tradename,NaN,$,3410000,NaN,NaN,$,3410000,NaN
3,First Aid Only Customer List,NaN,NaN,5500010,NaN,NaN,NaN,5500010,NaN
4,DMT Trademarks,NaN,NaN,1387000,NaN,NaN,NaN,1387000,NaN
5,DMT Customer List,NaN,NaN,1369000,NaN,NaN,NaN,1369000,NaN
6,DMT Non-Compete,NaN,NaN,183000,NaN,NaN,NaN,183000,NaN
7,Slice License Agreement,NaN,NaN,379921,NaN,NaN,NaN,379921,NaN
8,Patents,NaN,NaN,2271980,NaN,NaN,NaN,2271980,NaN
9,Trademarks,NaN,NaN,663698,NaN,NaN,NaN,663698,NaN
10,"Pac-Kit Tradename, Customer List",NaN,NaN,1500000,NaN,NaN,NaN,1500000,NaN
11,Spill Magic Customer List,NaN,NaN,3965000,NaN,NaN,NaN,3965000,NaN
12,Spill Magic Trademarks,NaN,NaN,1034000,NaN,NaN,NaN,1034000,NaN
13,Spill Magic Non-Compete,NaN,NaN,67111,NaN,NaN,NaN,67111,NaN
14,C-Thru Customer List,NaN,NaN,1050000,NaN,NaN,NaN,1050000,NaN
15,FAC,NaN,NaN,1332963,NaN,NaN,NaN,-,NaN
16,Med-Nap,NaN,NaN,2920145,NaN,NaN,NaN,-,NaN
17,Subtotal,NaN,NaN,27033828,NaN,NaN,NaN,22780720,NaN
18,Less: Accumulated Amortization,NaN,NaN,8312405,NaN,NaN,NaN,6987982,NaN
19,Intangible Assets,NaN,$,18721423,NaN,NaN,$,15792738,NaN
20,Goodwill,NaN,$,4799829,NaN,NaN,$,4696370,NaN
21,Total:,NaN,$,23521252,NaN,NaN,$,20489108,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,"December 31,","December 31,","December 31,","December 31,","December 31,","December 31,",NaN
1,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
2,Customer Rebates,NaN,$,6068294,NaN,NaN,$,4849081,NaN
3,Pension Liability,NaN,NaN,—,NaN,NaN,NaN,44667,NaN
4,Accrued Compensation,NaN,NaN,3072375,NaN,NaN,NaN,1695464,NaN
5,Dividend Payable,NaN,NaN,434546,NaN,NaN,NaN,402318,NaN
6,Income Taxes Payable,NaN,NaN,459596,NaN,NaN,NaN,261539,NaN
7,Other,NaN,NaN,1425213,NaN,NaN,NaN,1355481,NaN
8,Total:,NaN,$,11460024,NaN,NaN,$,8608550,NaN

                                0   1       2     3    4
0                 Asset Category: NaN  2019.0  2019  NaN
1               Equity Securities NaN     NaN    66    %
2         Fixed Income Securities NaN     NaN    32    %
3  Other Securities / Investments NaN     NaN     2    %
4                          Total: NaN     NaN   100    %

    0  1                                                  2
0 NaN  •  Level 1 – Inputs to the valuation methodology ...

    0  1                                                  2
0 NaN  •  Level 2 – Inputs to the valuation methodology ...

    0  1                                                  2
0 NaN  •  Level 3 – Inputs to the valuation methodology ...

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,2019,NaN,Level 1,Level 1,NaN,NaN,Level 2,Level 2,NaN,NaN,Level 3,Level 3,NaN,NaN,Total,Total,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Money Market Fund,NaN,$,31,NaN,NaN,$,16763,NaN,NaN,$,—,NaN,NaN,$,16794,NaN
3,Equity Common and Collected Funds,NaN,NaN,102030,NaN,NaN,NaN,580839,NaN,NaN,NaN,—,NaN,NaN,NaN,682869,NaN
4,Fixed Income Common and Collected Funds,NaN,NaN,82670,NaN,NaN,NaN,246316,NaN,NaN,NaN,—,NaN,NaN,NaN,328986,NaN
5,Total:,NaN,$,184731,NaN,NaN,$,843918,NaN,NaN,$,—,NaN,NaN,$,1028649,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
1,Assumptions used to determine benefit obligation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Discount rate,NaN,NaN,2.74,%,NaN,NaN,2.74,%
3,Changes in benefit obligation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Benefit obligation at beginning of year,NaN,$,"(1,073,316",),NaN,$,"(1,160,930",)
5,Interest cost,NaN,NaN,"(27,671",),NaN,NaN,"(41,841",)
6,Service cost,NaN,NaN,"(30,195",),NaN,NaN,"(25,000",)
7,Actuarial loss,NaN,NaN,"(160,884",),NaN,NaN,"(46,288",)
8,Benefits and plan expenses paid,NaN,NaN,203596,NaN,NaN,NaN,200743,NaN
9,"Curtailments, settlements and special terminat...",NaN,NaN,1088470,NaN,NaN,NaN,—,NaN
10,Benefit obligation at end of year:,NaN,$,—,NaN,NaN,$,"(1,073,316",)
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Changes in plan assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Fair value of plan assets at beginning of year,NaN,$,1028649,NaN,NaN,$,1013831,NaN
14,Actual return on plan assets,NaN,NaN,40560,NaN,NaN,NaN,201148,NaN
15,Employer contribution,NaN,NaN,222857,NaN,NaN,NaN,14413,NaN
16,Benefits and plan expenses paid,NaN,NaN,"(203,596",),NaN,NaN,"(200,743",)
17,Settlements,NaN,NaN,"(1,088,470",),NaN,NaN,—,NaN
18,Fair value of plan assets at end of year,NaN,NaN,—,NaN,NaN,NaN,1028649,NaN
19,Funded status:,NaN,$,—,NaN,NaN,$,"(44,667",)
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Amounts recognized in accumulated other compre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Net actuarial loss,NaN,$,—,NaN,NaN,$,689398,NaN
23,Prior service cost,NaN,NaN,—,NaN,NaN,NaN,538,NaN
24,Total:,NaN,$,—,NaN,NaN,$,689936,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
1,Assumptions used to determine net periodic ben...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Discount rate,NaN,NaN,2.74,%,NaN,NaN,3.87,%
3,Expected return on plan assets,NaN,NaN,6.00,%,NaN,NaN,6.00,%
4,Components of net benefit expense:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Service cost,NaN,$,30195,NaN,NaN,$,25000,NaN
6,Interest cost,NaN,NaN,27671,NaN,NaN,NaN,41841,NaN
7,Expected return on plan assets,NaN,NaN,"(40,560",),NaN,NaN,"(54,330",)
8,Settlement cost,NaN,NaN,793524,NaN,NaN,NaN,—,NaN
9,Amortization of prior service costs,NaN,NaN,538,NaN,NaN,NaN,544,NaN
10,Amortization of actuarial loss,NaN,NaN,56739,NaN,NaN,NaN,90442,NaN
11,NaN,NaN,NaN,837912,NaN,NaN,NaN,78497,NaN
12,Net periodic benefit cost:,NaN,$,868107,NaN,NaN,$,103497,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
1,Balance at beginning of the year,NaN,$,689936,NaN,NaN,$,881452,NaN
2,Change in net loss,NaN,NaN,"(617,800",),NaN,NaN,"(100,530",)
3,Amortization of actuarial loss,NaN,NaN,"(71,598",),NaN,NaN,"(90,442",)
4,Amortization of prior service cost,NaN,NaN,(538,),NaN,NaN,(544,)
5,Change recognized in other comprehensive income,NaN,NaN,"(689,936",),NaN,NaN,"(191,516",)
6,Total recognized in other comprehensive income,NaN,$,—,NaN,NaN,$,689936,NaN

                            0   1     2         3    4   5     6        7    8
0                         NaN NaN  2020      2020  NaN NaN  2019     2019  NaN
1                    Current: NaN   NaN       NaN  NaN NaN   NaN      NaN  NaN
2                     Federal NaN     $    880149  NaN NaN     $  (82,673    )
3                       State NaN   NaN    159909  NaN NaN   NaN   109593  NaN
4                     Foreign NaN   NaN    788314  NaN NaN   NaN   887556  NaN
5                      Total: NaN     $   1828372  NaN NaN     $   914476  NaN
6                         NaN NaN   NaN       NaN  NaN NaN   NaN      NaN  NaN
7                   Deferred: NaN   NaN       NaN  NaN NaN   NaN      NaN  NaN
8                     Federal NaN     $   (59,801    ) NaN     $    92446  NaN
9                       State NaN   NaN   (40,609    ) NaN   NaN    22634  NaN
10                     Total: NaN   NaN  (100,410    ) NaN   NaN   115080  NaN
11  Total Income Tax Expense: NaN     $   1727962  NaN NaN     $  1029556  NaN

               0   1     2        3   4   5     6        7   8
0            NaN NaN  2020     2020 NaN NaN  2019     2019 NaN
1  United States NaN     $  4524432 NaN NaN     $   800796 NaN
2        Foreign NaN   NaN  5302296 NaN NaN   NaN  5742368 NaN
3         Total: NaN     $  9826728 NaN NaN     $  6543164 NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
1,Federal income taxes at 21% statutory rate,NaN,$,1864097,NaN,NaN,$,1365124,NaN
2,"State and local taxes, net of federal income t...",NaN,NaN,89842,NaN,NaN,NaN,109593,NaN
3,Permanent items,NaN,NaN,"(99,877",),NaN,NaN,"(137,051",)
4,Foreign tax rate difference,NaN,NaN,"(126,100",),NaN,NaN,"(209,216",)
5,Change in deferred income tax valuation allowance,NaN,NaN,—,NaN,NaN,NaN,"(98,894",)
6,Provision for income taxes:,NaN,$,1727962,NaN,NaN,$,1029556,NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,2020,2020,NaN,NaN,2019,2019.0,NaN
1,Deferred income tax liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Plant, property and equipment",NaN,$,1556398,NaN,NaN,$,1022898.0,NaN
3,NaN,NaN,NaN,1556398,NaN,NaN,NaN,1022898.0,NaN
4,Deferred income tax assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Asset valuations,NaN,NaN,992101,NaN,NaN,NaN,604755.0,NaN
6,Pension,NaN,NaN,—,NaN,NaN,NaN,81561.0,NaN
7,Other,NaN,NaN,454076,NaN,NaN,NaN,287298.0,NaN
8,NaN,NaN,NaN,1446177,NaN,NaN,NaN,973614.0,NaN
9,Net deferred income tax liability:,NaN,$,110221,NaN,NaN,$,49284.0,NaN

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,NaN,NaN,United States,United States,NaN,NaN,Canada,Canada,NaN,NaN,Europe,Europe,NaN,NaN,Total,Total,NaN
1,"Cutting, Sharpening and Measuring",NaN,$,65805,NaN,NaN,$,6434,NaN,NaN,$,11843,NaN,NaN,$,84082,NaN
2,First Aid and Safety,NaN,NaN,74386,NaN,NaN,NaN,4552,NaN,NaN,NaN,983,NaN,NaN,NaN,79921,NaN
3,Total Net Sales,NaN,$,140191,NaN,NaN,$,10986,NaN,NaN,$,12826,NaN,NaN,$,164003,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"For the twelve months ended December 31, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,(amounts in 000's),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,United States,United States,NaN,NaN,Canada,Canada,NaN,NaN,Europe,Europe,NaN,NaN,Total,Total,NaN
8,"Cutting, Sharpening and Measuring",NaN,$,63189,NaN,NaN,$,6678,NaN,NaN,$,10062,NaN,NaN,$,79929,NaN
9,First Aid and Safety,NaN,NaN,62528,NaN,NaN,NaN,—,NaN,NaN,NaN,—,NaN,NaN,NaN,62528,NaN
10,Total Net Sales,NaN,$,125717,NaN,NaN,$,6678,NaN,NaN,$,10062,NaN,NaN,$,142457,NaN

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"Year Ended December 31, 2020",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,United States,United States,NaN,NaN,Canada,Canada,NaN,NaN,Europe,Europe,NaN,Consolidated,Consolidated,NaN
2,Net sales,$,140191,NaN,NaN,$,10986,NaN,NaN,$,12826,NaN,$,164003,NaN
3,Operating income,NaN,8872,NaN,NaN,NaN,1332,NaN,NaN,NaN,1209,NaN,NaN,11413,NaN
4,Assets,NaN,113831,NaN,NaN,NaN,7432,NaN,NaN,NaN,8605,NaN,NaN,129868,NaN
5,"Additions to property, plant and equipment",NaN,2386,NaN,NaN,NaN,34,NaN,NaN,NaN,149,NaN,NaN,2569,NaN
6,Depreciation and amortization,NaN,3668,NaN,NaN,NaN,95,NaN,NaN,NaN,78,NaN,NaN,3841,NaN

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"Year Ended December 31, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,United States,United States,NaN,NaN,Canada,Canada,NaN,NaN,Europe,Europe,NaN,Consolidated,Consolidated,NaN
2,Net sales,$,125717,NaN,NaN,$,6678,NaN,NaN,$,10062,NaN,$,142457,NaN
3,Operating income,NaN,7199,NaN,NaN,NaN,771,NaN,NaN,NaN,459,NaN,NaN,8429,NaN
4,Assets,NaN,98577,NaN,NaN,NaN,6168,NaN,NaN,NaN,6003,NaN,NaN,110749,NaN
5,"Additions to property, plant and equipment",NaN,1646,NaN,NaN,NaN,2,NaN,NaN,NaN,32,NaN,NaN,1680,NaN
6,Depreciation and amortization,NaN,3347,NaN,NaN,NaN,16,NaN,NaN,NaN,70,NaN,NaN,3433,NaN

                                  0   1     2      3   4   5     6     7   8
0                               NaN NaN  2020   2020 NaN NaN  2019  2019 NaN
1            Total operating income NaN     $  11413 NaN NaN     $  8429 NaN
2             Interest expense, net NaN   NaN    920 NaN NaN   NaN  1789 NaN
3                     Other expense NaN   NaN    666 NaN NaN   NaN    97 NaN
4  Consolidated income before taxes NaN     $   9827 NaN NaN     $  6543 NaN

                     0   1     2         3   4   5     6         7   8
0             Revenues NaN  2020    2020.0 NaN NaN  2019    2019.0 NaN
1        United States NaN     $  138921.0 NaN NaN     $  124059.0 NaN
2       International: NaN   NaN       NaN NaN NaN   NaN       NaN NaN
3               Canada NaN   NaN   10986.0 NaN NaN   NaN    6678.0 NaN
4               Europe NaN   NaN   12826.0 NaN NaN   NaN   10062.0 NaN
5                Other NaN   NaN    1270.0 NaN NaN   NaN    1658.0 NaN
6  Total International NaN     $   25082.0 NaN NaN     $   18398.0 NaN
7       Total Revenues NaN     $  164003.0 NaN NaN     $  142457.0 NaN

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,2020,2020,NaN,NaN,2019,2019,NaN
1,Options outstanding at the beginning of the year,NaN,NaN,1363694,NaN,NaN,NaN,1434280,NaN
2,Options granted,NaN,NaN,280750,NaN,NaN,NaN,120000,NaN
3,Options forfeited,NaN,NaN,"(9,125",),NaN,NaN,"(26,500",)
4,Options exercised,NaN,NaN,"(147,394",),NaN,NaN,"(164,086",)
5,Options outstanding at the end of the year,NaN,NaN,1487925,NaN,NaN,NaN,1363694,NaN
6,Options exercisable at the end of the year,NaN,NaN,985475,NaN,NaN,NaN,932094,NaN
7,Common stock available for future grants at th...,NaN,NaN,104372,NaN,NaN,NaN,44875,NaN
8,Weighted average exercise price per share:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Granted,NaN,$,23.05,NaN,NaN,$,19.88,NaN
10,Forfeited,NaN,NaN,21.72,NaN,NaN,NaN,23.29,NaN
11,Exercised,NaN,NaN,14.51,NaN,NaN,NaN,10.54,NaN
12,Outstanding,NaN,NaN,20.26,NaN,NaN,NaN,19.08,NaN
13,Exercisable,NaN,NaN,18.99,NaN,NaN,NaN,17.50,NaN

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Options Outstanding,Options Outstanding,Options Outstanding,Options Outstanding,Options Outstanding,Options Outstanding,Options Outstanding,Options Outstanding,Options Outstanding,Options Outstanding,NaN,NaN,Options Exercisable,Options Exercisable,Options Exercisable,Options Exercisable,Options Exercisable,Options Exercisable,NaN
1,Range of Exercise Prices,NaN,Number Outstanding,Number Outstanding,NaN,NaN,Weighted- Average Remaining Contractual Life (...,NaN,Weighted- Average Exercise Price,Weighted- Average Exercise Price,NaN,NaN,Number Exercisable,Number Exercisable,NaN,NaN,Weighted- Average Exercise Price,Weighted- Average Exercise Price,NaN
2,$9.26 to $16.08,NaN,NaN,290200,NaN,NaN,2,NaN,$,12.39,NaN,NaN,NaN,290200,NaN,NaN,$,12.39,NaN
3,$16.09 to $21.35,NaN,NaN,282000,NaN,NaN,6,NaN,NaN,18.41,NaN,NaN,NaN,204500,NaN,NaN,NaN,17.95,NaN
4,$21.36 to $22.86,NaN,NaN,350375,NaN,NaN,7,NaN,NaN,22.14,NaN,NaN,NaN,261375,NaN,NaN,NaN,21.97,NaN
5,$22.87 to $23.97,NaN,NaN,255450,NaN,NaN,9,NaN,NaN,23.17,NaN,NaN,NaN,11350,NaN,NaN,NaN,23.94,NaN
6,$23.98 to $28.20,NaN,NaN,309900,NaN,NaN,7,NaN,NaN,24.80,NaN,NaN,NaN,218050,NaN,NaN,NaN,24.94,NaN
7,NaN,NaN,NaN,1487925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,985475,NaN,NaN,NaN,NaN,NaN

                        0   1            2   3             4
0                     NaN NaN         2020 NaN          2019
1  Expected life in years NaN            6 NaN         5 - 6
2           Interest rate NaN  .30 - 1.63% NaN  1.52 - 2.39%
3              Volatility NaN  .358 - .384 NaN   .358 - .375
4          Dividend yield NaN   2.0 - 2.2% NaN    2.0 - 2.2%

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,2020,2020.00,NaN,NaN,2019,2019.00,NaN
1,Numerator:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Net income,NaN,$,8098766.00,NaN,NaN,$,5513608.00,NaN
3,Denominator:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Denominator for basic earnings per share:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Weighted average shares outstanding,NaN,NaN,3342630.00,NaN,NaN,NaN,3351731.00,NaN
6,Effect of diluted employee stock options,NaN,NaN,166867.00,NaN,NaN,NaN,100892.00,NaN
7,Denominator for dilutive earnings per share,NaN,NaN,3509497.00,NaN,NaN,NaN,3452623.00,NaN
8,Basic earnings per share,NaN,$,2.42,NaN,NaN,$,1.65,NaN
9,Diluted earnings per share,NaN,$,2.31,NaN,NaN,$,1.60,NaN

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,Foreign currency translation adjustment,Foreign currency translation adjustment,NaN,NaN,Net prior service credit and actuarial losses,Net prior service credit and actuarial losses,NaN,NaN,Total,Total,NaN
1,"Balances, January 1, 2019",NaN,$,"(1,518,822",),NaN,$,"(539,163",),NaN,$,"(2,057,985",)
2,Change in net prior service credit and actuari...,NaN,NaN,—,NaN,NaN,NaN,143906,NaN,NaN,NaN,143906,NaN
3,Adoption of ASU 2018-02,NaN,NaN,—,NaN,NaN,NaN,"(119,014",),NaN,NaN,"(119,014",)
4,Translation adjustment,NaN,NaN,45223,NaN,NaN,NaN,—,NaN,NaN,NaN,45223,NaN
5,"Balances, December 31, 2019",NaN,$,"(1,473,599",),NaN,$,"(514,271",),NaN,$,"(1,987,870",)
6,Change in net prior service credit and actuari...,NaN,NaN,—,NaN,NaN,NaN,514271,NaN,NaN,NaN,514271,NaN
7,Translation adjustment,NaN,NaN,647632,NaN,NaN,NaN,—,NaN,NaN,NaN,647632,NaN
8,"Balances, December 31, 2020",NaN,$,"(825,967",),NaN,$,—,NaN,NaN,$,"(825,967",)

,0,1,2,3,4
0,NaN,NaN,"Twelve months ended December 31, 2020","Twelve months ended December 31, 2020",NaN
1,Operating lease cost,NaN,$,1186,NaN
2,Operating lease - cash flow,NaN,$,1087,NaN

,0,1,2,3,4
0,NaN,NaN,"December 31, 2020","December 31, 2020",NaN
1,Weighted-average remaining lease term,NaN,4.0 years,4.0 years,NaN
2,Weighted-average discount rate,NaN,NaN,5,%

                                                   0   1    2     3    4
0                                               2021 NaN    $   916  NaN
1                                               2022 NaN  NaN   690  NaN
2                                               2023 NaN  NaN   569  NaN
3                                               2024 NaN  NaN   309  NaN
4                                               2025 NaN  NaN   220  NaN
5                                         Thereafter NaN  NaN    75  NaN
6                Total future minimum lease payments NaN    $  2779  NaN
7                            Less : imputed interest NaN  NaN  (252    )
8  Less : present value of lease liabilities - cu... NaN  NaN  (873    )
9   Present value of lease liabilities - non-current NaN    $  1654  NaN

                      0   1    2       3   4
0               Assets: NaN  NaN     NaN NaN
1             Inventory NaN    $   591.0 NaN
2       Prepaid expense NaN   25    25.0 NaN
3      Land & buildings NaN  NaN  1800.0 NaN
4             Equipment NaN  NaN  4195.0 NaN
5              Goodwill NaN  149   149.0 NaN
6     Intangible assets NaN  NaN  2882.0 NaN
7          Total assets NaN    $  9642.0 NaN
8      Accounts payable NaN  336   336.0 NaN
9  Total considerations NaN    $  9308.0 NaN

                     0   1    2       3   4
0              Assets: NaN  NaN     NaN NaN
1  Accounts receivable NaN    $   232.0 NaN
2            Inventory NaN  440   440.0 NaN
3      Prepaid Expense NaN   47    47.0 NaN
4            Equipment NaN   45    45.0 NaN
5    Intangible assets NaN  NaN  1310.0 NaN
6         Total assets NaN    $  2074.0 NaN

,0,1,2,3,4
0,Name,NaN,Age,NaN,Position Held with Company
1,Walter C. Johnsen,NaN,70,NaN,Chairman of the Board and Chief Executive Officer
2,Brian S. Olschan,NaN,64,NaN,"President, Chief Operating Officer and Director"
3,Paul G. Driscoll,NaN,60,NaN,"Vice President, Chief Financial Officer, Secre..."
4,Rex L. Davidson,NaN,71,NaN,Director
5,"Richmond Y. Holden, Jr.",NaN,67,NaN,Director
6,Susan H. Murphy Brian K. Barker,NaN,69 61,NaN,Director Director
7,Stevenson E. Ward III,NaN,75,NaN,Director

   0                            1
0  •  Consolidated Balance Sheets

   0                                      1
0  •  Consolidated Statements of Operations

   0                                                  1
0  •  Consolidated Statements of Changes in Stockhol...

   0                                      1
0  •  Consolidated Statements of Cash Flows

   0                                           1
0  •  Notes to Consolidated Financial Statements

   0                                                  1
0  •  Report of Independent Registered Public Accoun...

   0                                                  1
0  •  Schedules other than those listed above have b...

              0   1                                                  2
0   Exhibit No. NaN                          Identification of Exhibit
1           NaN NaN                                                NaN
2          3(i) NaN  Re-Stated Certificate of Incorporation July 1,...
3           NaN NaN                                                NaN
4         3(ii) NaN                                         Bylaws (4)
5           NaN NaN                                                NaN
6             4 NaN      Specimen of Common Stock certificate (18) (p)
7           NaN NaN                                                NaN
8         4(vi) NaN                        Description of Common Stock
9           NaN NaN                                                NaN
10         10.3 NaN  2002 Acme United Employee Stock Option Plan as...
11          NaN NaN                                                NaN
12         10.4 NaN  Severance Pay Plan dated September 28, 2004* (15)
13          NaN NaN                                                NaN
14      10.5(a) NaN  Salary Continuation Plan dated September 28, 2...
15          NaN NaN                                                NaN
16      10.6(a) NaN  2005 Non-Salaried Director Stock Option Plan, ...
17          NaN NaN                                                NaN
18      10.6(b) NaN  Amendment to the 2005 Non-Salaried Director St...
19          NaN NaN                                                NaN
20         10.7 NaN   2017 Non-Salaried Director Stock Option Plan (9)
21          NaN NaN                                                NaN
22         10.8 NaN  Deferred Compensation Plan dated October 2, 20...
23          NaN NaN                                                NaN
24      10.9(a) NaN   2012 Acme United Employee Stock Option Plan (11)
25          NaN NaN                                                NaN
26      10.9(b) NaN  Amendment to the 2012 Acme United Employee Sto...
27          NaN NaN                                                NaN
28     10.10(a) NaN  Revolving Loan Agreement with HSBC, dated Apri...
29          NaN NaN                                                NaN
30     10.10(b) NaN  Amendment No. 1 to Revolving Loan Agreement wi...
31          NaN NaN                                                NaN
32     10.10(c) NaN   Amended and restated secured revolving note (14)
33          NaN NaN                                                NaN
34     10.10(d) NaN  Amendment No. 2 to Revolving Loan Agreement wi...
35          NaN NaN                                                NaN
36     10.10(e) NaN  Amendment No. 4 to Revolving Loan Agreement wi...
37          NaN NaN                                                NaN
38     10.10(f) NaN  Second amended and restated secured revolving ...
39          NaN NaN                                                NaN
40     10.10(g) NaN  Amendment No. 5 to Revolving Loan Agreement wi...
41          NaN NaN                                                NaN
42     10.10(h) NaN  Amendment No. 6 to Revolving Loan Agreement wi...
43          NaN NaN                                                NaN
44        10.11 NaN  Change in Control Plan as amended dated Februa...
45          NaN NaN                                                NaN
46           21 NaN                     Subsidiaries of the Registrant
47          NaN NaN                                                NaN
48         23.1 NaN  Consent of Marcum LLP, Independent Registered ...

      0   1                                                  2
0   NaN NaN                                                NaN
1  31.1 NaN  Certification of Walter Johnsen pursuant to Ru...
2   NaN NaN                                                NaN
3  31.2 NaN  Certification of Paul Driscoll pursuant to Rul...
4   NaN NaN                                                NaN
5  32.1 NaN  Certification of Walter Johnsen pursuant to Se...
6   NaN NaN                                                NaN
7  32.2 NaN  Certification of Paul Driscoll pursuant to Sec...

   0                                                  1
0  *  Indicates a management contract or a compensat...

     0                                                  1
0  (1)  Previously filed as an Exhibit to the Company’...

     0                                                  1
0  (2)  Previously filed in the Company’s Form 8-K fil...

     0                                                  1
0  (3)  Previously filed in the Company’s Form 8-K fil...

     0                                                  1
0  (4)  Previously filed in the Company’s Form 8-K fil...

     0                                                  1
0  (5)  Previously filed in the Company’s Proxy Statem...

     0                                                  1
0  (6)  Previously filed in the Company’s Proxy Statem...

     0                                                  1
0  (7)  Previously filed in the Company’s Form 8-K fil...

     0                                                  1
0  (8)  Previously filed as an exhibit to the Company’...

     0                                                  1
0  (9)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (10)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (11)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (12)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (13)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (14)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (15)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (16)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (17)  Previously filed as an exhibit to the Company’...

      0                                                  1
0  (18)  Previously filed as an exhibit to the Company’...

,0,1,2
0,Signatures:,NaN,Titles:
1,NaN,NaN,NaN
2,/s/ Walter C. Johnsen,NaN,NaN
3,Walter C. Johnsen,NaN,Chairman and Chief Executive Officer
4,NaN,NaN,NaN
5,/s/ Brian S. Olschan,NaN,NaN
6,Brian S. Olschan,NaN,"President, Chief Operating Officer and Director"
7,NaN,NaN,NaN
8,/s/ Paul G. Driscoll,NaN,NaN
9,Paul G. Driscoll,NaN,"Vice President, Chief Financial Officer, Secre..."
10,NaN,NaN,NaN
11,/s/ Rex Davidson,NaN,NaN
12,Rex Davidson,NaN,Director
13,NaN,NaN,NaN
14,"/s/ Richmond Y. Holden, Jr.",NaN,NaN
15,"Richmond Y. Holden, Jr.",NaN,Director
16,NaN,NaN,NaN
17,/s/ Susan H. Murphy,NaN,NaN
18,Susan H. Murphy,NaN,Director
19,NaN,NaN,NaN
20,/s/ Stevenson E. Ward III,NaN,NaN
21,Stevenson E. Ward III,NaN,Director
22,NaN,NaN,NaN
23,/s/ Brian K. Barker,NaN,NaN
24,Brian K. Barker,NaN,Director